# Server Configuration
NODE_ENV=production
PORT=3001

# Database Configuration (Connection String)
DATABASE_URL="postgresql://postgres:password@localhost:5432/finvestia?schema=public"

# JWT Authentication Secret
JWT_SECRET="replace_with_a_secure_random_string_in_production"

# CORS Configuration (Optional comma-separated URLs of deployed frontend(s))
FRONTEND_URL="http://localhost:3000"
